extensions:
	spameriElasticSearch: Spameri\Elastic\DI\SpameriElasticSearchExtension
	console: Kdyby\Console\DI\ConsoleExtension
	monolog: Kdyby\Monolog\DI\MonologExtension
	dibi: Dibi\Bridges\Nette\DibiExtension22

dibi:
	host: 192.168.0.5
	username: benu2015
	password: vE0hat7mEen7vak2Joag
	database: pdp5_benu2015_staging


spameriElasticSearch:
	debug: true
	entities:

parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenter\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter

includes:
	- ../ProductModule/Config/Product.neon
	- ../ProductModule/Config/SimpleProduct.neon
	- ../ProductModule/Config/ProductModule.neon