extensions:
	spameriElasticSearch: Spameri\Elastic\DI\SpameriElasticSearchExtension
	console: Kdyby\Console\DI\ConsoleExtension
	monolog: Kdyby\Monolog\DI\MonologExtension
	dibi: Dibi\Bridges\Nette\DibiExtension22

dibi:
	host: 192.168.0.5
	username: benu2015
	password: vE0hat7mEen7vak2Joag
	database: pdp5_benu2015_staging
	debug: false


spameriElasticSearch:
	debug: true

parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenter\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter

#	Uncomment this if you want to log export to elasctic
#	- Spameri\Elastic\Import\Run\LoggerHandler(@monolog.logger)


includes:
	- ../ProductModule/Config/ProductModule.neon

	- ../ProductModule/Config/Product.neon
	- ../ProductModule/Config/SimpleProduct.neon
	- ../ProductModule/Config/WorkshopProduct.neon

	- ../WorkshopTwoModule/Config/WorkshopTwoModule.neon
	- ../WorkshopTwoModule/Config/WorkshopProduct.neon
