elasticSearch:
	entities:
		Product:
			index: workshop_product
			dynamic: strict

			properties:
				name:
					type: text

				isPublic:
					type: boolean

				content:
					type: text

				details:
					properties:
						tags:
							type: keyword

						accessories: # vazba na jiné produkty, text protože je to elastické id
							type: keyword

				price:
					type: integer

				parameterValues:
					properties:
						parameterName:
							type: keyword

						parameterValueUid:
							type: keyword

						stringParameterValue:
							type: keyword

						boolParameterValue:
							type: boolean

						intParameterValue:
							type: long

