services:
	productService:
		class: App\ProductModule\Model\ProductService(
			%spameriElasticSearch.entities.Product.index%,
			@productFactory,
			@productCollectionFactory
		)

	productFactory:
		class: App\ProductModule\Factory\ProductFactory

	productCollectionFactory:
		class: App\ProductModule\Factory\ProductCollectionFactory

#### SimpleProduct

	simpleProductService:
		class: App\ProductModule\Model\SimpleProductService(
			%spameriElasticSearch.entities.SimpleProduct.index%,
			@simpleProductFactory,
			@simpleProductCollectionFactory
		)

	simpleProductFactory:
		class: App\ProductModule\Factory\SimpleProductFactory

	simpleProductCollectionFactory:
		class: App\ProductModule\Factory\SimpleProductCollectionFactory

	exportToElasticCommand:
		class: App\ProductModule\Command\ExportToElastic
		tags:
			- kdyby.console.command
			- console.command

	simpleProductConfig:
		class: App\ProductModule\Entity\SimpleProductConfig(%spameriElasticSearch.entities.SimpleProduct.index%)

	exportToElastic:
		class: App\ProductModule\Model\ExportToElastic

	simpleProductDataProvider:
		class: App\ProductModule\Model\ExportToElastic\DataProvider

	simpleProductDataImport:
		class: App\ProductModule\Model\ExportToElastic\DataImport

	simpleProductPrepareImportData:
		class: App\ProductModule\Model\ExportToElastic\PrepareImportData

### WorkshopProduct

	workshopProductService:
		factory: App\ProductModule\Model\WorkshopProductService
		arguments:
			- %spameriElasticSearch.entities.WorkshopProduct.index%
			- @workshopProductFactory
			- @workshopProductCollectionFactory

	workshopProductConfig:
		factory: App\ProductModule\Entity\WorkshopProductConfig
		arguments:
			- %spameriElasticSearch.entities.WorkshopProduct.index%

	workshopProductFactory:
		factory: App\ProductModule\Factory\WorkshopProductFactory

	workshopProductCollectionFactory:
		factory: App\ProductModule\Factory\WorkshopProductCollectionFactory

